
<!DOCTYPE html>
<html lang="fr" >
	<head>
		<meta charset="UTF-8">
		<title>
			ANOG
		</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='indexStyle.css')}}">
	</head>
	<body>
		<div id="bg"></div>


        <div id="index">
		
            <div id="header" class="row">
                ANOG: Another Neat Onepiece Game - by Corentin RENAULT & Adrien TURCHET
            </div>

            <div id="middle" class="row">
                
                <div id="left-bar" class="sidebar">
                    {% block left %}{% endblock %}
                </div>
                
                <div id="right-bar" class="sidebar">
                    {% block right %}{% endblock %}
                </div>
                
                <div id="content">
                
                    {% block content %}{% endblock %}
                
                    <p>

                        <form action="/" method="post">
                            <div class="form-field">
                                <input type="text" placeholder="Votre choix, exemple: 0" name="user_input" required/> <br>
                            </div>
                            <div class="form-field">
                                <button class="btn" type="submit">Valider</button>
                            </div>
                            
                        </form>
                        
                    </p>
                
                </div>
            </div>
        </div>
	</body>
</html>
