{% extends "base.html" %}


{% block left %}
    {% for team in output['team'] %}
        {% if team.gras %}
            <b>
                <p>{{team.texte}}</p>
            </b>
        {% else %}
            <p>{{team.texte}}</p>
        {% endif %}
    {% endfor %}
{% endblock %}



{% block right %}
    {% for map in output['map'] %}
        {% if map.gras %}
            <b>
                {% if map.couleur=='rouge' %}
                    <p style="color:rgb(201, 76, 18)">{{map.texte}}</p>
                {% elif map.couleur=='vert' %}
                    <p style="color:rgb(44, 170, 97)">{{map.texte}}</p>
                {% else %}
                    <p>{{map.texte}}</p>
                {% endif %}
            
            </b>
        {% else %}
            {% if map.couleur=='rouge' %}
                <p style="color:rgb(201, 76, 18)">{{map.texte}}</p>
            {% elif map.couleur=='vert' %}
                <p style="color:rgb(44, 170, 97)">{{map.texte}}</p>
            {% else %}
                <p>{{map.texte}}</p>
            {% endif %}
        {% endif %}
        
    {% endfor %}
{% endblock %}



{% block content %}
    {% for content in output['content'] %}
        {% if content.gras %}
            <b>
                <p>{{content.texte}}</p>
            </b>
        {% else %}
            <p>{{content.texte}}</p>
        {% endif %}
    {% endfor %}
{% endblock %}

