{% extends "base.html" %}


{% block left %}
    {% for line in output['team'].myMessages %}
        {% for team in line %}
            {% if team.gras %}
                <b>
                    {% if team.couleur=='rouge' %}
                        <p style="color:rgb(160, 51, 0)">{{team.texte}}</p>
                    {% else %}
                        <p>{{team.texte}}</p>
                    {% endif %}
                </b>
            {% else %}
                {% if team.couleur=='rouge' %}
                    <p style="color:rgb(160, 51, 0)">{{team.texte}}</p>
                {% else %}
                    <p>{{team.texte}}</p>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}



{% block right %}
    {% for line in output['map'].myMessages %}
        {% for map in line %}
            {% if map.gras %}
                <b>
                    {% if map.couleur=='rouge' %}
                        <p style="color:rgb(160, 51, 0)">{{map.texte}}</p>
                    {% else %}
                        <p>{{map.texte}}</p>
                    {% endif %}
                
                </b>
            {% else %}
                {% if map.couleur=='rouge' %}
                    <p style="color:rgb(201, 76, 18)">{{map.texte}}</p>
                {% else %}
                    <p>{{map.texte}}</p>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}



{% block content %}
    {% for line in output['content'].myMessages %}
        {% for content in line %}
            {% if content.gras %}
                <b>
                    {% if content.couleur=='rouge' %}
                        <p style="color:rgb(230, 103, 45)">{{content.texte}}</p>
                    {% elif content.couleur=='vert' %}
                        <p style="color:rgb(19, 16, 202)">{{content.texte}}</p>
                    {% else %}
                        <p>{{content.texte}}</p>
                    {% endif %}
                </b>
            {% else %}
                {% if content.couleur=='rouge' %}
                    <p style="color:rgb(230, 103, 45)">{{content.texte}}</p>
                {% elif content.couleur=='vert' %}
                    <p style="color:rgb(19, 16, 202)">{{content.texte}}</p>
                {% else %}
                    <p>{{content.texte}}</p>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}

