{% extends "base.html" %}


{% block left %}
    {% for team in output['team'] %}
        {% if "rouge" in team %}
            <p style="color:rgb(201, 76, 18)">{{team}}</p>
        {% else %}
            <p>{{team}}</p>
        {% endif %}
    {% endfor %}
{% endblock %}



{% block right %}
    {% for map in output['map'] %}
        {% if "rouge" in map %}
            <p style="color:rgb(201, 76, 18)">{{map}}</p>
        {% else %}
            <p>{{map}}</p>
        {% endif %}
    {% endfor %}
{% endblock %}



{% block content %}
    {% for content in output['content'] %}
        {% if "rouge" in content %}
            <p style="color:rgb(201, 76, 18)">{{content}}</p>
        {% else %}
            <p>{{content}}</p>
        {% endif %}
    {% endfor %}
{% endblock %}

