
<!DOCTYPE html>
<html lang="fr" >
	<head>
		<meta charset="UTF-8">
		<title>
			ANOG
		</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
	</head>
	<body>
		<div id="bg"></div>
		<p>

			<form action="/" method="post" autocomplete="off">
				<div class="form-field">
					{{ form.username(placeholder="Username - length(4-20)") }}
				</div>
				<div class="form-field">
					{{ form.password(placeholder="Password - length(4-20)") }}
				</div>
				<div class="form-field">
					{{ form.submit(class='btn') }}
				</div>
				
			</form>
		</p>
	</body>
</html>
