
<!DOCTYPE html>
<html lang="fr" >
	<head>
		<meta charset="UTF-8">
		<title>
			ANOG
		</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
	</head>
	<body>
		<div id="bg"></div>
		<p>

			<form action="/" method="post" autocomplete="off">
				<div class="form-field">
					<input type="text" placeholder="Username" name="username" required/> <br>
				</div>
				<div class="form-field">
					<input type="password" placeholder="Password" name="password" required/> <br>
				</div>
				<div class="form-field">
					<button class="btn" type=submit type="submit">Valider</button>
					<input type=hidden value="{{ next or '' }}" name=next>
				</div>
				
			</form>
			<br><i>- Max 15 characters <br> - No special characters</i>
		</p>
	</body>
</html>
