
<!DOCTYPE html>
<html lang="fr" >
	<head>
		<meta charset="UTF-8">
		<title>
			ANOG
		</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
	</head>
	<body>
		<div id="bg"></div>
		
		<div id="header">
			ANOG: Another Neat Onepiece Game - by Corentin RENAULT & Adrien TURCHET
		</div>
		
		<div id="left-bar">
			{% left content %}{% endleft %}
		</div>
		
		<div id="right-bar">
			{% right content %}{% endright %}
		</div>
		
		<div id="content">
		
			{% block content %}{% endblock %}
		
			<p>

				<form action="/" method="post">
					<div class="form-field">
						<input type="text" placeholder="Votre choix, exemple: 0" name="user_input" required/> <br>
					</div>
					<div class="form-field">
						<button class="btn" type="submit">Valider</button>
					</div>
					
				</form>
				
			</p>
		
		</div>
	</body>
</html>
