
<!DOCTYPE html>
<html lang="fr" >
	<head>
		<meta charset="UTF-8">
		<title>
			ANOG
		</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='flag.png') }}">
	</head>
	<body>
		<div id="bg"></div>
		<p>

			<form action="{{ url_for('handle_data') }}" method="post" autocomplete="off">
				<div class="form-field">
					{{ form.username(placeholder="Username - length(4-20)", class='input') }}
				</div>
				<div class="form-field">
					{{ form.password1(placeholder="Password - length(4-20)", class='input') }}
				</div>
				<div class="form-field">
					{{ form.password2(placeholder="Password - length(4-20)", class='input') }}
				</div>
				<div class="form-field">
					{{ form.submit(class='btn') }}
				</div>

				<div class="btn">
					<a href={{url_for("login")}}> Se connecter</a>
				</div>
				
			</form>
		</p>
	</body>
</html>
