
<!DOCTYPE html>
<html lang="fr" >
	<head>
		<meta charset="UTF-8">
		<title>
			ANOG
		</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/createGame.css')}}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='flag.png') }}">
	</head>
	<body>
		<div id="bg"></div>
		<p class="content">
            <div class="btn btn1 flag">
                <label> id de la partie </label>
            </div>
            
            <div class="btn btn2 flag">
                <a href={{url_for("menu", username=current_user.username, user_input="None")}}> Commencer la partie </a>
            </div>
			
		</p>
	</body>
</html>
